<div>
<h1>Welcome to Our App</h1>
<img src="/public/images/beer.png" alt="Beer Image">
<a href="/beers" class="button">Check the Beers!</a>
<a href="/random-beer" class="button">Check a Random Beer</a>
<p>This is the home page content.</p>
</div>