<!DOCTYPE html>
<html>
<head>
    <title>Your App Title</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <!-- ... (other head elements) -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/beers">Beers</a></li>
            <li><a href="/random-beer">Random Beer</a></li>
        </ul>
    </nav>
    
    <div class="content">
        {{{ body }}}
    </div>
    
    <footer>
        <!-- Your footer content here -->
    </footer>
</body>
</html>
