:root {
    --white: #f7f9f9;
    --light-blue: #2081c3;
    --dark-blue: #0a2c42;
    --grey: #bfbfbf;
    --font-family: Arial, Helvetica, sans-serif;
  }
  body {
    background-color: var(--white);
    color: var(--dark-blue);
    font-family: var(--font-family);
  }
  .header {
    background-color: var(--light-blue);
    color: var(--white);
  }
  
  .footer {
    background-color: var(--grey);
  }

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.button:hover {
    background-color: #0056b3;
}
